.lienzo-contenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em 3em;
}

.lienzo-portada {
  width: 100%;
  height: 370px;
  object-fit: fill;
}

.data-contenedor {
  cursor: pointer;
  display: flex;
  height: 50px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: #4a4a4a;
  font-size: 15px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.171);
  padding-right: 10px;
  z-index: 1;
}

.ul-contenedor {
  display: flex;
  flex-direction: row;
  padding-left: 180px;
}

.lienzo-perfil {
  position: absolute;
  display: flex;
  bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.perfil-img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: solid white 4px;
  margin-right: 15px;
  z-index: 2;
}

.h1-username {
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6), 0 -1px 1px rgba(0, 0, 0, 0.3);
  font-size: 35px;
  margin-top: 40px;
  text-transform: capitalize;
}

.li-lienzo {
  margin-right: 40px;
  cursor: pointer;
}

/*{ SUBMENU }*/

.none {
  display: none;
}

.menu-ajustes {
  display: block;
  bottom: -80px;
  right: 3em;
  position: absolute;
  width: 100%;
  max-width: 150px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.ajustes-li {
  color: #4a4a4a;
  padding: 15px 10px;
  border-bottom: #a3a3a391 solid 1px;
  font-size: 14px;
}

.ajustes-li:hover {
  color: black;
}

.ajustes-li-dos {
  color: #4a4a4a;
  padding: 15px 10px;
  font-size: 14px;
}

.ajustes-li-dos:hover {
  color: black;
}

/*{ MODAL }*/

.modal-portada {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modal-contenedor-dos {
  height: fit-content;
  width: 100%;
  max-width: 600px;
  background-color: white;
  border: solid #4a4a4a 1px;
  padding: 1.3em;
}

.portada {
  color: #4a4a4a;
  font-weight: 500;
}

.titulo-contenedor {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.div-contenedor {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15px;
}

.img-portada-modal {
  width: 100%;
  max-width: 200px;
  height: 60px;
  border-radius: 5px;
}

#modal-texto {
  margin-right: 30px;
  font-size: 14px;
  color: #4a4a4a;
}

.input-portada {
  padding: 10px;
  width: 100%;
  max-width: 290px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.btn-cerrar {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-guardar {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff4477;
  color: white;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 970px) {
  .ul-contenedor {
    display: none;
  }

  .data-contenedor {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 600px) {
  .lienzo-contenedor {
    padding: 1em 0.6em;
  }

  .lienzo-portada {
    width: 100%;
    height: 250px;
  }

  .data-contenedor {
    height: 40px;
    font-size: 14px;
  }

  .perfil-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: solid white 4px;
    margin-right: 8px;
    z-index: 2;
  }

  .h1-username {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6), 0 -1px 1px rgba(0, 0, 0, 0.3);
    font-size: 22px;
    margin-top: 25px;
  }

  .lienzo-ajustes {
    font-size: 13.5px;
  }

  /*{ SUBMENU }*/

  .menu-ajustes {
    right: 0.7em;
  }

  .ajustes-li {
    font-size: 13px;
  }

  .ajustes-li-dos {
    font-size: 13px;
  }
}
