.nav-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0em 3em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  width: 110px;
  margin-right: 35px;
}

.nav-inicio {
  display: flex;
  height: fit-content;
  flex-direction: row;
  align-items: center;
}

.nav-li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  flex-direction: row;
  color: #4a4a4a;
  background-color: white;
  margin-right: 25px;
  cursor: pointer;
}

.nav-li:hover {
  color: #ff4477;
}

.nav-p {
  font-size: 15.5px;
  margin-top: 5px;
  margin-left: 3px;
}

.nav-buscador {
  display: flex;
  margin-left: 10px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-search-btn {
  display: flex;
  width: 30px;
  height: 35px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 35px;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-add {
  display: flex;
  width: 165px;
  height: 35px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0em 8px;
  border: #ff4477 2px solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}

.nav-publicacion {
  font-size: 15px;
  font-weight: 500;
  margin-top: 3px;
  color: #ff4477;
  cursor: pointer;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-li-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  flex-direction: row;
  color: #4a4a4a;
  margin-left: 15px;
  cursor: pointer;
}

.img-perfil {
  object-fit: cover;
  width: 33px;
  height: 33px;
  border-radius: 100%;
}

/*{ SUBMENU }*/

.none {
  display: none;
}

.sub-menu-dos {
  display: block;
  right: 5em;
  top: 60px;
  position: absolute;
  width: 100%;
  max-width: 170px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 10px 0;
}

.sub-menu-tres {
  display: block;
  right: 3em;
  top: 60px;
  position: absolute;
  width: 100%;
  max-width: 160px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 10px 0;
}

.sub-li-dos {
  font-size: 14px;
  color: #4a4a4a;
  margin-top: 8px;
  padding-left: 10px;
}

.sub-li-dos:hover {
  color: black;
}

.hr {
  margin: 15px 0;
  color: rgba(255, 255, 255, 0.479);
}

.btn-cerrar-sesion {
  cursor: pointer;
  font-size: 11.5px;
  margin: 0px 10px;
  margin-bottom: 5px;
  padding: 5px 0;
  width: 90%;
  background-color: white;
  color: #3a3939;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.btn-cerrar-sesion:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 -1px 1px rgba(0, 0, 0, 0.4);
}

.btn-descarga {
  cursor: pointer;
  font-size: 12px;
  margin: 0px 10px;
  margin-bottom: 3px;
  padding: 10px 0;
  width: 90%;
  background: linear-gradient(to bottom right, #ff2f97, #ff9159);
  border-radius: 5px;
  color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.2);
}

/*{MODAL USUARIO NO REGISTRADO}*/

.form-no-post {
  height: fit-content;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border: solid #4a4a4a 1px;
  padding: 2em 1em;
  z-index: 1;
}

.div-close-post {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 400px;
}

.nav-post {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2px;
}

.click-sesion {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: #333333;
}

/*{TOOLTIP}*/

.tooltip {
  display: flex;
  position: relative;
}

.tooltip:before {
  content: attr(mensaje);
  position: absolute;
  top: 150%;
  left: 0;
  width: max-content;
  max-width: 160px;
  background-color: rgba(0, 0, 0, 0.753);
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 1;
  opacity: 0;
}

.tooltip:hover::before {
  opacity: 1;
}

@media screen and (max-width: 1430px) {
  .nav-input {
    width: 190px;
  }

  .nav-li {
    margin-right: 20px;
  }

  .nav-add {
    width: 155px;
  }

  .nav-publicacion {
    font-size: 14px;
  }

  .nav-li {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1270px) {
  .nav-input {
    width: 190px;
  }

  .nav-add {
    width: fit-content;
    margin-left: 10px;
  }

  .nav-publicacion {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .nav-contenedor {
    display: none;
  }
}
