.navcelular-contenedor {
  display: flex;
  margin: 0 3em;
  margin-top: 0.5em;
  border: solid #86868683 1px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.1);
  height: 40px;
}

.buscador {
  display: flex;
  margin-top: 2.5px;
  width: 90%;
  border: none;
  outline: none;
  padding-left: 15px;
}

.bot-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.bot-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  background-color: white;
}

/*{ SUBMENU }*/

.none {
  display: none;
}

.sub-menu {
  display: block;
  right: 3em;
  top: 55px;
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 150px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.sub-li {
  padding: 7px 0;
  border-bottom: solid #4a4a4a2a 0.5px;
  font-size: 15px;
  color: #4a4a4a;
}

.sub-li-x {
  padding: 7px 0;
  font-size: 14px;
  color: #4a4a4a;
}

/*{ MODAL }*/

.modal-contenedor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 300px;
  background-color: white;
}

.first-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 180px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.img-modal {
  width: 100%;
  height: 100%;
}

.btn-close {
  background-color: transparent;
  position: absolute;
  font-weight: 900;
  right: 5%;
  top: 5%;
  width: 100%;
  max-width: 20px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-sesion {
  padding: 5px 0px;
  position: absolute;
  right: 5%;
  bottom: 6%;
  width: 100%;
  max-width: 95px;
  font-weight: 500;
  background-color: white;
  color: #4a4a4a;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.modal-profile {
  width: 95%;
  position: absolute;
  bottom: 7%;
  left: 5%;
}

.modal-img-perfil {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin-bottom: 5px;
}

.modal-username {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 3px;
  color: white;
}

.modal-fullname {
  text-transform: capitalize;
  font-size: 13px;
  color: white;
}

.ul-side {
  padding-left: 0.8em;
  padding-top: 20px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.171);
}

.li-p {
  display: flex;
  align-items: center;
  color: #3b3b3b;
  margin-bottom: 15px;
}

.li-x {
  font-size: 13.5px;
  margin-top: 5px;
  margin-left: 20px;
  cursor: pointer;
}

.ul-side-dos {
  padding-left: 0.8em;
  padding-top: 20px;
}

.li-dos {
  font-size: 13px;
  margin-bottom: 15px;
  color: #3b3b3b;
}

.li-dos-color {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #ff4477;
}

/*{ EDITAR PERFIL }*/

.confi {
  display: flex;
  margin: 3em 3.5em;  
  font-weight: 100;
  font-size: 13px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}

.h1-confi {
  color: #4a4a4a;
  font-weight: 300;
}

@media screen and (min-width: 1150px) {
  .navcelular-contenedor {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navcelular-contenedor {
    margin: 0 0.5em;
    margin-top: 0.5em;
  }

  .buscador {
    width: 80%;
    margin-top: 3.5px;
    font-size: 12px;
  }

  .bot-1 {
    width: 10%;
  }

  .bot-2 {
    width: 10%;
  }

  /*{ SUBMENU }*/

  .sub-menu {
    right: 0.5em;
  }

  /*{ MODAL }*/

  .modal-contenedor {
    width: 100%;
    max-width: 60%;
  }

  /*{ EDITAR PERFIL }*/

  .confi {
    display: flex;
    margin: 3.5em 1.5em;  
    font-weight: 100;
    font-size: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  }

  .h1-confi {
    color: #4a4a4ae1;
    font-weight: 300;
  }
}
